@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #212529;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: "IBM Plex Sans", sans-serif;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 36px;
}
#logo {
  width: 125px;
}
.search-area {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.search-area > input {
  width: 233px;
  height: 52px;
  background-color: #343a40;
  color: #7c8b99;
  padding: 15px 24px;
  gap: 10px;
  border-radius: 8px;
}

.search-area > button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 34px;
  gap: 10px;
  width: 86px;
  height: 52px;
  background: #4c6ef5;
  border-radius: 8px;
}

#List-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 31px;
  color: #dee2e6;
  margin-top: 90px;
  margin-bottom: 75px;
}
.container-card-list {
  width: 100%;
}
.pokemon-card-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 28px;
}

.pokemon-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 801px;
  height: 60px;
  background: #343a40;
  border-radius: 8px;
  gap: 12px;
  padding-left: 28px;
}
.pokemon-img {
  width: 60px;
  height: 60px;
}
.pokemon-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #ced4da;
}
